@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

button {
  @apply bg-gray-900 text-white hover:bg-gray-800 font-medium rounded text-center shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)];
}

/* Rating */
.rating-container {
  display: flex;
}

.rating-star {
  color: #ffd700;
  font-size: 1.2rem;
}

.rating-text {
  font-size: 0.9rem;
  font-weight: 600;
  padding-left: 0.5rem;
}
